
@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(135deg, #f7e06e 0%, #f59e42 100%);
}

