.custom-toast-base {
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
	border-radius: 1rem;
	box-shadow: 0 4px 16px rgba(0,0,0,0.12);
	padding: 1.2rem 2.5rem;
	text-align: center;
	min-width: 400px;
	max-width: 600px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.custom-toast-success {
	background: linear-gradient(90deg, #34d399 0%, #059669 100%);
}

.custom-toast-error {
	background: linear-gradient(90deg, #ef4444 0%, #f87171 100%);
}

.custom-toast {
	background: linear-gradient(90deg, #f59e42 0%, #f7e06e 100%);
}